/* Global styles */

body {
  font-family: Arial, sans-serif;
  background-color: #fcdadd;
  color: #333;
}

/* Header */

header {
  background-color: #e57b84;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 100px;
  margin-left: 10px;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation ul li {
  margin-left: 10px;
}

.navigation ul li a {
  text-decoration: none;
  color: #333;
}

/* Main */

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

section {
  margin-bottom: 30px;
}

h1,
h2 {
  margin-bottom: 10px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

img {
  width: 100%;
  height: auto;
}

/* Footer */

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.skip-link {
  position: fixed;
  top: -200px;
  left: 50%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #8b8885;
  color: #fff;
  padding: 5px;
  outline: none;
}

.skip-link:focus {
  top: 0;
}

/* Responsive Styles */

@media only screen and (max-width: 340px) {
  /* Adjustments for screens with width up to 340px */
  header {
    padding: 5px;
  }

  .logo {
    width: 70px;
  }

  .navigation ul li {
    margin-left: 5px;
  }

  main {
    padding: 0 10px;
  }

  .image-grid {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 5px;
  }
}

@media only screen and (max-width: 410px) {
  /* Adjustments for screens with width up to 410px */
  header {
    min-height: 80px;
  }

  .logo {
    width: 90px;
  }

  .navigation ul li {
    margin-left: 8px;
  }

  main {
    padding: 0 15px;
  }

  .image-grid {
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  }
}

@media only screen and (max-width: 460px) {
  /* Adjustments for screens with width up to 460px */
  header {
    min-height: 100px;
  }

  .logo {
    width: 110px;
  }

  .navigation ul li {
    margin-left: 10px;
  }

  main {
    padding: 0 18px;
  }

  .image-grid {
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  }
}
